body {
    font-family: Public Sans;
    display: flex;
    flex-direction: row;
    color: #000;
}

.topbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

.thebank {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: none;
    color: none;
}

.thebank-icon{
    width: 65px;
    top: 45px;
    left: 44.41px;
    gap: 0px;
    opacity: 0px;
}

a{
    cursor: pointer;
    color: black;
    padding: 10px;
}

a:hover {
    background-color: #5BC241;
    color: #fff;
    border-radius: 5px;
}

