body {
    font-family: Public Sans;
    display: flex;
    flex-direction: row;
}


.header{
    display: flex;
    padding: 30px;
    margin: 20px;
    width: 100vw;
}

.the-bank{
    display: flex;
    justify-content: left; 
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;
    width: 80vw;
}

.thebank-icon{
    height: 50px;
    width: 85px;
}

a{
    cursor: pointer;
    color: black;
    padding: 10px;
    margin: 10px;
}

a:hover, .sign-in{
    background-color: #5BC241;
    color: #fff;
    border-radius: 5px;
}

.the-bank:hover{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

