body {
    font-family: Public Sans;
    font-weight: 400;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    margin: 20px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo h1{
    font-size: 20px;
    margin-left: 5px;
}

.thebank-icon{
    width: 45px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    padding: 10px 5px;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover{
    background-color: #5BC241;
    color: #fff;
}

.menu li a.btn{
    background-color: #5BC241;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px 20px;
}